.d1{
    height: 200px;
    width: 200px;
    font-size: 50px;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
    background-color: rgb(147, 213, 239);
    border: 5px solid rgb(0, 187, 255);
}
.i1{
    height: 200px;
    width: 200px;
    border-radius: 50px;
    border: 2px solid rgb(255, 123, 0);
}
.d1:hover{
    /* transform: translate(50px,0px); x and y thi ketli dur jase te*/
    /* transform: translateX(50px); */
    /* transform: translateY(20px); */
    /* positve---> clockwise ; negative--> anti-clockwise */
    /* transform: rotate(20deg);  */
    /* transform: rotate(-45deg); */
    /* transform: scale(1.3,2); default (1,1) */
    transform: scaley(1.2);
    background-color: pink;
}
.i1:hover{
    box-shadow: 10px 10px 15px rgb(216, 150, 6);
    /* transform:rotate(45deg) scale(-0.7,1.5); mirror image with -ve value */
    /* transform: scale(0.5); */
    /* transform: scale(-1); */
    /* transform: skew(20deg,20deg); */
    /* transform: scaleX(0.5); */
    /* transform: skewY(20deg); */
    transform: skewX(20deg) scale(0.5) rotate(70deg);
}
/*transition property always pela lakhvi km k after we use the basic barrier in this with hover, etc*/
.d2{
    padding: 20px;
    margin: 100px auto;
    border: 3px solid ;
    background-color: rgb(242, 208, 129);
    width: 300px;
    transition: all 10s ease-out 1s;
}
.i2{
    width: 100%;
    border-radius: 30px;
    height: auto;
    transition-property: border-radius,box-shadow,transform;
    transition-duration: 5s,6s,10s;
    transition-delay: 2s;
    transition-timing-function: ease-in;
}
/* .i2:hover{
    padding: 25px;
    transform: skew(30deg,0);
    box-shadow: 10px 10px 10px black;
    border-radius: 35px;
    border: 7px double red;
    width: 350px;
    background-color: aquamarine;
} */
/* .i2:active{
    border: 5px dotted black;
    border-radius: 50%;
    box-shadow: 10px 10px 20px yellowgreen;
    padding: 20px;
    background-color: pink;
    transform: rotate(900deg);
    content: url(i2.png);
} */
 .i2:hover{
    border: 5px dotted black;
    border-radius: 50%;
    box-shadow: 10px 10px 20px yellowgreen;
    padding: 20px;
    background-color: pink;
    transform: rotate(900deg);
    content: url(i2.png);
}