.i1{
    width: 300px;
    height: auto;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(52, 119, 212, 0.549);
    border: 2px solid ;
    padding: 20px;
    margin-top: 5px;
}

.i1:hover{
    width: 300px;
    height: auto;
    border-radius: 50%;
    background-color: black;
    border: 2px solid ;
    padding: 2px;
    margin-top: 5px;
    opacity: 0.5;
}
/*thumbnail image*/
.i2{
    width: 300px;
    height: 400px;
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
}
.i3{
    width: 800px;
    height: auto;
    border-radius: 50%;
    opacity: 0.4;
    max-width: 100%;
}
