.d1{
    width: 150px;
    height: 150px;
    background-color: blue;
    border: 2px solid;
    border-radius: 50%;
    margin: 20px;
    animation-name: example;
    animation-duration: 15s;
    animation-delay: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: 5;
}
/*FROM=0% TO=100%*/
@keyframes example{
    0%{
        background-color: blue;
    }
    20%{
        background-color: green;
    }
    40%{
        background-color: rgb(234, 234, 13);
    }
    60%{
        background-color: rgb(253, 6, 130);
    }
    80%{
        background-color: rgb(255, 191, 0);
    }
    100%{
        background-color: red;
    }
}