p{
    font-family: "Lobster Two", sans-serif;
}
.one{
    border-color: rgba(66, 126, 194, 0.756);
    border-width: 3px;
    border-style: solid;
    color: rgb(13, 3, 99);
}
.two{
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    border-left: 3px double green;
    border-right: 3px double green;
}
.three{
    border-style:dotted solid dashed double ;
    border-color: blue red green orange;
}
.four{
    border: 5px solid  red;
    border-radius: 30px;
}
.five{
    border-right: 3px solid purple;
    border-left: 5px double blue;
}