.container {
  display: flex;
}
nav {
  background-color: gray;
  width: 40%;
  padding: 10px;
}
section {
  background-color: pink;
  width: 60%;
  padding: 10px;
}
.i2 {
  display: none;
}
@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }
  nav,
  section {
    width: 100%;
  }
  nav {
    order: -1;
  }
  .i2 {
    display: block;
  }
  .i1 {
    display: none;
  }
}
h1{
  color: red
  text-decoration: underline;
  font-style: italic;
}
.d1{
    margin: 50px auto;
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 20px black;
    background: linear-gradient(to bottom right,red,green,yellow,purple,black);
}
.d2{
    margin: 50px auto;
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 20px black;
    border-radius: 50%;
    background:radial-gradient(circle,yellow,blue,green,yellow)
}
.c1{
    margin: 50px auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 10px 10px 20px black;
    background: conic-gradient(from 90deg,red 0deg 45deg,green 45deg 90deg,blue 90deg 180deg,yellow 180deg 315deg,pink 315deg 360deg )
}
