:root{
    --textblue: blue;
    --all:solid dotted double dotted;
    --a:center;
    --textred:red;
}
h1{
    --a:right;
    text-align: var(--a);
    --fs:50px;
    font-size: var(--fs);
}
h2{
    --fs:30px;
    font-size: var(--fs);
    color: var(--textred);
    text-align: var(--a);
}
p{
    border-style: var(--all);
    --p:20px;
    padding: var(--p);
    border-width: 8px;
    text-align: var(--a);
}
 